## To Do List

R Studio Workspace 지정 하는 방법  
- R Studio에서 workspace 만든다.  
- data 폴더를 만든다.

### Read CSV to prepare data

In [1]:
df <- read.csv('data/2015_white_house.csv')
salaries <- df[[3]]

# 0. R

R은 1부터 시작한다.

# 1. Basic Syntex

## Variable 지정 해주고 Print 해서 결과값 보기

기본적으로 variable(변수)를 assign(저장) 해줄 때는 '<-'(carrot)과 '='(equal sign)로 두가지가 있다.  
온라인 상에서 사용자들끼리 약속을 맞춘 프로그래밍 스타일이 정해져 있는데.    
예로 Google에서 정해준 가이드를 보면 '<-'로 맞추기로 되어있다.  
더 많은 Style Guide는 아래 주소에서 확인이 가능하다.  
https://google.github.io/styleguide/Rguide.xml

In [2]:
name <- "dong.h"
age <- 31
height <- 6.1
weight <- 75
print(age)
print(height)

[1] 31
[1] 6.1

## C() : Storing Values as Vectors

하나의 Values를 저장 할 때는 그 문자나 숫자를 저장하면 되지만,  
2개 이상의 value들을 저장 할 때는 앞에 c(combination)을 붙여주면 된다.

In [5]:
favorites <- c("female", "alcohol", "smoke")
print(favorites)

[1] "female"  "alcohol" "smoke"

In [6]:
favorite_age <- c(21, 22, 23)
print(favorite_age)

[1] 21 22 23

한 개의 vector를 저장 할 때와 c로 묶어준 vector는  
내용만 같다면 같은 것을 아래에서 확인 할 수 있다.

In [7]:
dogCount <- 1
catCount <- c(1)

print(identical(dogCount, catCount))

[1] TRUE

In [10]:
number_list <- c(4,3,5,8,6,1,7,4,5,6,3,2,1,4,7,3,3)
print(number_list)

 [1] 4 3 5 8 6 1 7 4 5 6 3 2 1 4 7 3 3

## Indexing

print를 할 때 앞에 [1]을 볼 수가 있는데.  
이것은 한 명령어에서 프린트의 줄 갯수를 말한다.  
보통 한 줄에 10개 씩 묶어서 보여준다.

In [6]:
print(number_list[1:8])

[1] 4 3 5 8 6 1 7 4

만약 저장 되어있는 값보다 더 많은 값들을 indexing 한다면, NA 값을 주게 된다.

In [8]:
print(number_list[1:30])

 [1]  4  3  5  8  6  1  7  4  5  6  3  2  1  4  7  3  3 NA NA NA NA NA NA NA NA
[26] NA NA NA NA NA

c()를 이용하여 뛰엄뛰엄 indexing 할 수도 있다

In [14]:
print(number_list[c(2,4,6)])

[1] 3 8 1

## Negative Indexing

R에서의 주의점은 negative indexing은 indexing한 값을 빼는 명령어로,  
indexing 할 값에 (-)을 주게 되면, 해당되는 값을 빼게 된다.

In [11]:
print(number_list)

 [1] 4 3 5 8 6 1 7 4 5 6 3 2 1 4 7 3 3

In [12]:
print(number_list[-1])

 [1] 3 5 8 6 1 7 4 5 6 3 2 1 4 7 3 3

여러개를 빼고 싶을 땐 indexing을 활용할 수 있다.

In [13]:
print(number_list[-1:-5])

 [1] 1 7 4 5 6 3 2 1 4 7 3 3

small 만 빼고 보여주는 방법은 아래와 같이 두가지 방법이 있다.

In [15]:
# Another vector
t <- c("small", "small", "large", "medium")

In [16]:
t

[1] "small"  "small"  "large"  "medium"

In [17]:
subset(t, t != "small")
t[t!="small"]

[1] "large"  "medium"

[1] "large"  "medium"

## Information about variables

In [24]:
x <- 6
n <- 1:4
let <- LETTERS[1:4]

In [32]:
# Variable 목록들을 보여준다
ls()

[1] "df"          "full"        "let"         "n"           "number_list"
[6] "rare_title"  "t"           "test"        "train"

In [26]:
exists("x")

[1] TRUE

In [27]:
exists("y")

[1] FALSE

In [30]:
rm(x)
x  # x 를 지웠으므로, 에러가 뜬다

Warning message in rm(x):
"object 'x' not found"

ERROR: Error in eval(expr, envir, enclos): object 'x' not found

n variable의 정보를 본다

In [34]:
str(n)

 int [1:4] 1 2 3 4

In [36]:
length(n)

[1] 4

# Type

데이터 Value에는 "character"(문자열), "numeric"(숫자) **Type** 등으로 이루어져 있다.  
아래와 같이 데이터 type를 저장 해줄 수 있다.

In [4]:
print(class(name))
print(class(age))

name_type <- class(name)
print(name_type)

[1] "character"
[1] "numeric"
[1] "character"

## Working with NULL, NA, and NaN

- NULL -> 존재 하지 않는 값. 빈 공간을 얘기하는 것이다. does not EXIST
- NA -> missing 값 
- NaN -> 숫자가 아닌 값. 예로 0/0 같은 경우는 존재 할 수 없는 값이 된다.

In [63]:
v <-  c( 1, NA, NULL)
v

[1]  1 NA

In [46]:
x <- NULL
x > 5  # 아무것도 안 나온다. NULL은 존재하지 않는 값이기 때문이다.

logical(0)

In [45]:
y <- NA
y > 5

[1] NA

In [47]:
z <- NaN
z > 5

[1] NA

### 아래는 확인 하는 방법이다

In [48]:
is.null(x)

[1] TRUE

In [49]:
is.na(y)

[1] TRUE

In [50]:
is.nan(z)

[1] TRUE

In [51]:
is.null(y)

[1] FALSE

In [52]:
is.na(x)

Warning message in is.na(x):
"is.na() applied to non-(list or vector) of type 'NULL'"

logical(0)

NA나 NaN 값이 포함되어있는 경우  
평균이나 총합을 구할 때 NA나 Nan 값으로 변환이 될 수 있다.

In [54]:
vy <- c(1, 2, 3, NA, 5)
vy

[1]  1  2  3 NA  5

In [55]:
mean(vy)

[1] NA

옵션으로 na.값을 없애고 평균값을 구하게 할 수도 있다

In [56]:
mean(vy, na.rm=TRUE)

[1] 2.75

In [57]:
vz <- c(1, 2, 3, NaN, 5)

In [58]:
sum(vz)

[1] NaN

In [59]:
sum(vz, na.rm=TRUE)

[1] 11

NULL 값은 상관 없다. 존재하지 않은 값이기 때문이다

In [61]:
vx <- c(1, 2, 3, NULL, 5)
sum(vx)

[1] 11

## Find the Vector's Length

우리가 구하고자 하는 value 앞에 length()를 넣어주면  
원하는 Length나 저장된 value의 갯수를 알 수 있다.

In [8]:
print(length(salaries))

[1] 474

위에서 찾아준 갯수를 저장 해줄 수도 있다.

In [9]:
num_salaries <- length(salaries)
print(num_salaries)

[1] 474

## Indexing Vectors

In [10]:
print("Select One vector")
print(salaries[1])

print("Index and Select Multi Vectors")
print(salaries[1:3])

[1] "Select One vector"
[1] 105960
[1] "Index and Select Multi Vectors"
[1] 105960  55000 121200

## Math Performance

In [11]:
ten_salaries <- salaries[1:10]
print(ten_salaries)

 [1] 105960  55000 121200 155035 114000 134662  65650  42000  50000 103000

In [12]:
ten_salaries_added <- ten_salaries + 119990
print(ten_salaries_added)

 [1] 225950 174990 241190 275025 233990 254652 185640 161990 169990 222990

In [13]:
print(ten_salaries / 30)

 [1] 3532.000 1833.333 4040.000 5167.833 3800.000 4488.733 2188.333 1400.000
 [9] 1666.667 3433.333

## Using Carrot to overwrite Variables

기존 저장 되어있는 값을 더하여 새로운 value 값을 얻을 수 있다.

In [14]:
a <- c(2,4,5)
a + 2

[1] 4 6 7

In [15]:
a <- a + 2
print(a)

[1] 4 6 7

## Making a vector filled with values

In [19]:
rep(1, 50)

 [1] 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
[39] 1 1 1 1 1 1 1 1 1 1 1 1

In [20]:
rep(F, 20)

 [1] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[13] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE

In [21]:
rep(1:5, 4)

 [1] 1 2 3 4 5 1 2 3 4 5 1 2 3 4 5 1 2 3 4 5

In [22]:
rep(1:5, each=4)

 [1] 1 1 1 1 2 2 2 2 3 3 3 3 4 4 4 4 5 5 5 5

In [23]:
rep(factor(LETTERS[1:3]), 5)

 [1] A B C A B C A B C A B C A B C
Levels: A B C

# 연습문제. 1

아래와 같은 리스트를 만들자

In [65]:
korea <- c("seoul", "kyungki-do", "kangwon-do", "choongchung-do", "junra-do", "kyungsang-do")

Q.1 - korea 안에 vector의 갯수를 구하라

In [67]:
length(korea)

[1] 6

Q.2 - 두번째부터 5번째까지의 vector들끼리 묶어라

In [68]:
korea[2:5]

[1] "kyungki-do"     "kangwon-do"     "choongchung-do" "junra-do"

Q.3 두번째 값(경기도)을 빼보자

In [83]:
korea[-2]

[1] "seoul"          "kangwon-do"     "choongchung-do" "junra-do"
[5] "kyungsang-do"

Q.4 - 'seoul', 'kangwon-do', 'junra-do'만 볼 수 있게 해보자

In [84]:
korea[c(1,3,5)]

[1] "seoul"      "kangwon-do" "junra-do"

Q. 5 - Q.4의 결과 값을 새로운 변수명(new_list)로 저장해보자

In [86]:
new_list <- korea[c(1,3,5)]
new_list

[1] "seoul"      "kangwon-do" "junra-do"

# Matrix 예제문제

Q.1 - 1부터 9까지의 숫자를 3x3 배열로 matrix를 만드세요

In [88]:
matrix_num <- matrix(c(1,2,3,4,5,6,7,8,9), 3, 3)
matrix_num

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

Q.2 - matrix로 부터 7의 숫자를 indexing 하세요.

In [91]:
matrix_num[1,3]

[1] 7

Q.3 - matrix 의 두번째 줄인 2,5,8 list 값을 보여주세요

In [93]:
matrix_num[2, ]

[1] 2 5 8