# Matrices and Dataframes

## Matrix

아래는 기본 Matrix를 생성하는 방법이다.

In [15]:
B <- matrix(c(1,2,3,4,5,6), 3, 2)
print(B)
C <- matrix(c("Rambo", "Chuck Norris", "Arnold", "Steven Seagal", "John Wayne", "Steve McQueen"), 2, 3)
print(C)

     [,1] [,2]
[1,]    1    4
[2,]    2    5
[3,]    3    6
     [,1]           [,2]            [,3]
[1,] "Rambo"        "Arnold"        "John Wayne"
[2,] "Chuck Norris" "Steven Seagal" "Steve McQueen"

In [16]:
print(C[2,1])

[1] "Chuck Norris"

In [17]:
print(C[1,])

[1] "Rambo"      "Arnold"     "John Wayne"

# Data Frame

dataframe 이라고 하면 R에서 불러오는 엑셀 같은 형식을 말하며,  
vector가 하나의 자료를 말하면 그 vector가 2차원적으로 모이면, 
dataframe이라 한다.

## CSV 불러오기

In [20]:
df <- read.csv('data/2015_white_house.csv')

### Display Column

List를 불러오는 방법에는 아래와 같이 세가지 방법이 있다.  
불러오는 방법은 상황에 따라 장단점이 있지만,  
그 장단점은 하면서 본인이 직접 느끼는 것이 중요하단 생각이 든다.

In [21]:
print(identical(df[3], df['Salary'], df$Salary))

[1] TRUE

### To make column to list

## head()
데이터의 앞부분만 불러오는 함수다  
이 함수를 안 쓰면 전체 부분을 보게 된다

In [24]:
head(df['Salary'])

  Salary
1 105960
2  55000
3 121200
4 155035
5 114000
6 134662

In [26]:
head(df[, "Salary"])

[1] 105960  55000 121200 155035 114000 134662

In [27]:
head(df[[3]])

[1] 105960  55000 121200 155035 114000 134662

데이터에서 첫번째(1) 줄의 "Salary"의 Column의 값은 아래와 같이 불러온다.

In [25]:
head(df[1,"Salary"])

[1] 105960

## Indexing Data

In [6]:
data("mtcars")
mydata <- mtcars
mydata

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [13]:
# data의 첫번째에서 두번째 column의 값을 불러온다. 
# 1 - row 
# 2 - column 
mydata[1,2]

[1] 6

In [10]:
mydata[3, 5]

[1] 3.85

column명을 넣어 불러올 수 있다.

In [12]:
mydata[2, 'mpg']

[1] 21

리스트 형식으로 2개 이상을 불러올 수도 있다.

In [11]:
mydata[3:5, 2]

[1] 4 6 8

In [14]:
mydata[c(1,2), c(2,3)]

              cyl disp
Mazda RX4     6   160
Mazda RX4 Wag 6   160

### Dataframe with Boolean

In [45]:
head(mydata['mpg'] > 20)

                  mpg
Mazda RX4          TRUE
Mazda RX4 Wag      TRUE
Datsun 710         TRUE
Hornet 4 Drive     TRUE
Hornet Sportabout FALSE
Valiant           FALSE

In [42]:
head(mydata['mpg'])

                  mpg
Mazda RX4         21.0
Mazda RX4 Wag     21.0
Datsun 710        22.8
Hornet 4 Drive    21.4
Hornet Sportabout 18.7
Valiant           18.1

mydata['mpg'] 중에서 True인 값만 보여줄 수도 있다.

In [41]:
mydata['mpg'][mydata['mpg'] > 20]

 [1] 21.0 21.0 22.8 21.4 24.4 22.8 32.4 30.4 33.9 21.5 27.3 26.0 30.4 21.4

Column들을 보여주고 안 보여주고도 True와 False로 지정해줄 수 있다.  
나머지 부분은 다 True로 보여주고 싶다면, 끝까지 쓸 필요는 없다

In [50]:
head(mydata)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [49]:
head(mydata[c(F,T,T,T,F,F,T)])

                  cyl disp hp  qsec  am gear carb
Mazda RX4         6   160  110 16.46 1  4    4
Mazda RX4 Wag     6   160  110 17.02 1  4    4
Datsun 710        4   108   93 18.61 1  4    1
Hornet 4 Drive    6   258  110 19.44 0  3    1
Hornet Sportabout 8   360  175 17.02 0  3    2
Valiant           6   225  105 20.22 0  3    1

다른 방법으로 boolean을 보여주는 방법

In [54]:
mydata$mpg

 [1] 21.0 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4
[16] 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.0 30.4 15.8 19.7
[31] 15.0 21.4

In [53]:
mydata$mpg < 25

 [1]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
[13]  TRUE  TRUE  TRUE  TRUE  TRUE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE
[25]  TRUE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE

## Subset(부분 집합) of particular rows and columns in dataframe

mydata 중 mpg의 값이 25 이하인 row만 부분 집합하기

In [60]:
subset(mydata, mpg < 25)

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

아래와 같은 방법 역시 동일하다

In [62]:
mydata[mydata$mpg < 25, ]

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

원하는 조건에 따른 row를 고르고, 그 column은 지울 수도 있다.

In [65]:
head(subset(mydata, mpg < 25, select = -mpg))

                  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           6   225  105 2.76 3.460 20.22 1  0  3    1

In [66]:
head(subset(mydata, mpg < 25, select = c(cyl,disp)))

                  cyl disp
Mazda RX4         6   160
Mazda RX4 Wag     6   160
Datsun 710        4   108
Hornet 4 Drive    6   258
Hornet Sportabout 8   360
Valiant           6   225

In [68]:
head(subset(mydata, mpg < 25, select = disp:wt))

                  disp hp  drat wt
Mazda RX4         160  110 3.90 2.620
Mazda RX4 Wag     160  110 3.90 2.875
Datsun 710        108   93 3.85 2.320
Hornet 4 Drive    258  110 3.08 3.215
Hornet Sportabout 360  175 3.15 3.440
Valiant           225  105 2.76 3.460

In [70]:
head(mydata[mydata$mpg < 25, c("hp","wt")])

                  hp  wt
Mazda RX4         110 2.620
Mazda RX4 Wag     110 2.875
Datsun 710         93 2.320
Hornet 4 Drive    110 3.215
Hornet Sportabout 175 3.440
Valiant           105 3.460

## AND 또는 or를 사용하여 다중 조건을 걸기

## AND

In [72]:
subset(mydata, mpg < 25  & carb==4)

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4

In [73]:
mydata[mydata$mpg < 25  &  mydata$carb==4, ]

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4

## OR

In [74]:
subset(mydata, mpg < 25  |  carb==4)

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [75]:
mydata[mydata$mpg < 25  |  mydata$carb==4, ]

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

### transformed 된 조건(log)을 걸어서 보여주기

In [81]:
subset(mydata, log2(disp) > 8 )

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8

# if 조건 걸어주기

In [83]:
subset(mydata, carb %in% c(3,2))

                  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Hornet Sportabout 18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Merc 240D         24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230          22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 450SE        16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL        17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC       15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Honda Civic       30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Dodge Challenger  15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin       15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Pontiac Firebird  19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Porsche 914-2     26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa      30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Volvo 142E        21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

# Math in DataFrame

한 줄의 모든 값을 더할 수도 있다.

In [28]:
sum(df["Salary"])

[1] 40225595

max 값과 min 값 구하기

In [29]:
print(max(df["Salary"]))
print(min(df["Salary"]))

[1] 173922
[1] 0

원하는 값이 몇 번 째에 있는지 확인이 가능하다

In [31]:
which.min(df[, "Salary"])

[1] 244

위에서 minimum 값이 244번째에 있다는 것을 확인이 되었다.  
아래에서 그 값이 일치 한지 확인해보자

In [32]:
identical(df[244, "Salary"], min(df[, "Salary"]))

[1] TRUE